<nav class="navbar navbar-expand-lg bg-primary ">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ">
      <ul class="navbar-nav ">
        <li class="nav-item" >
          <a class="nav-link active text-white" aria-current="page" (click)="onSelect('recipe')">Recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="onSelect('shopping-list')">shopping list</a>
        </li>



          <div class="btn-group" ngbDropdown style="margin-left: 54em;">
            <a  class="dropdown-toggle text-white" role="button"  ngbDropdownToggle>Manage</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>One</button>
              <button ngbDropdownItem>Two</button>
              <button ngbDropdownItem>Four!</button>
            </div>
          </div>

      </ul>
    </div>
  </div>
</nav>
